#![enable(implicit_some)]
Container(
            transform: (
                id: "high_score_container",
                x: 1000.,
                y: 600.,
                width: 250.,
                height: 175.,
                anchor: Middle,
            ),
//            background: SolidColor(0.09, 0.02, 0.25, 1.0),
            //background: SolidColor(255., 255., 255., 1.0),
            children: [
                Label(
                    transform: (
                        id: "high_score",
                        width: 0.,
                        height: 0.,
                        tab_order: 1,
                        anchor: Middle,
                        stretch: XY(x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
                    ),
                    text: (
                        text: "",
                        font: File("fonts/inconsolata.ttf", ("TTF", ())),
                        font_size: 90.,
                        //color: (0.2, 0.2, 1.0, 1.0),
                        color: (1., 1., 1., 1.),
                        align: Middle,
                    ),
                ),
            ],
)
