List((
    texture_width: 256,
    texture_height: 706,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 256,
            height: 256,
            offsets: None,
        ),
        (
            x: 0,
            y: 256,
            width: 125,
            height: 250,
            offsets: None,
        ),
        (
            x: 0,
            y: 506,
            width: 100,
            height: 200,
            offsets: None,
        ),
    ],
))
