List((
    texture_width: 64,
    texture_height: 64,
    sprites: [
        // player
        (
            x: 0,
            y: 0,
            width: 16,
            height: 23,
        ),
        // laser beam
        (
            x: 18,
            y: 0,
            width: 7,
            height: 1,
        ),
    ]
))
