(
  large_levels: [
    // 12. Utter destruction
    [
      "  B   B   B   B   B   B   B   B   B   B   B   B   B   B   B   B   B ",
      "                                                                    ",
      "                                                                    ",
      " S                                                                S ",
      "                                                                    ",
      " S                                                                S ",
      "                             P   P                                  ",
      " S                         P   P   P                              S ",
      "                             P   P                                  ",
      " S                                                                S ",
      "                                                                    ",
      " S                                                                S ",
      "                                                                    ",
      "                                                                    ",
      "               B                                 B                  ",
    ],
    // 11. Think fast
    [
      "                                                                    ",
      "                F F F F F F F F F F F F F F F F F F                 ",
      "                                                                    ",
      "     F F F F F F                                    F F F F F F     ",
      "                                                                    ",
      "  F F                                                           F F ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                     P        P        P                            ",
      "                                                                    ",
    ],
    // 10. Dodge and roll
    [
      "                                                                    ",
      "                    F          F            F                       ",
      "                                                                    ",
      "                                                                    ",
      "  P                                                                 ",
      "                               P                                    ",
      "                 B                            B                     ",
      "                            P     P                                 ",
      "                                                                    ",
      "                                                                    ",
      "                     B                B                             ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                            F  F  F                                 ",
    ],
    // 9. Cornered
    [
      "                                                                    ",
      "  P         S                                           S         P ",
      "           S                                             S          ",
      "          S                                               S         ",
      "         S                                                 S        ",
      "                             B             B                        ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "         S                                                 S        ",
      "          S                                               S         ",
      "           S                                             S          ",
      "  P         S                                           S         P ",
      "                                                                    ",
    ],
      // 8. Pincer
    [
      "  B   B   B   B   B   B   B   B   B   B   B   B   B   B   B   B   B ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "   F                                                             F  ",
      "   F                                                             F  ",
      "                                                                    ",
      "                                P P                                 ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                      S                      S                      ",
      "                                                                    ",
    ],
      // 7. Dive
    [
      "   F  F  F  F  F  F  F  F  F  F  F  F  F  F  F  F  F  F  F  F  F  F ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "   F                                                             F  ",
      "   F                                                             F  ",
      "                                                                    ",
      "                                P                                   ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      " F           F         F                     F        F           F ",
      "                                                                    ",
    ],

    // 6. Make it rain
    [
      "                                                                    ",
      "                             P P                                    ",
      "                            P P P                                   ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                         B        B                                 ",
      "                                                                    ",
      "                    B        B         B                            ",
      "                                                                    ",
      "                                                                    ",
    ],

    // 5. Twin shooters
    [
      "   F  F  F                                                 F  F  F  ",
      "                                                                    ",
      "             B                                        B             ",
      "                                                                    ",
      "                                     B                              ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                         P    P                                     ",
      "                                                                    ",
      "   S                                                            S   ",
      "     S                                                        S     ",
      "       S                                                    S       ",
    ],
  ],
  // this is for the LevelConfig struct
  small_levels: [
    // 4. breaking free
    [
      "           F                    F                 ",
      "                                                  ",
      "                      F                           ",
      "  F                                            F  ",
      "                                                  ",
      "   S        S       S       S       S        S    ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "      S      S      S      S      S      S        ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                      P                           ",
      "                                                  ",
      "                                                  ",
    ],
    // 3. it's a trap!
    [
      "                                                  ",
      "                                  F       F  F    ",
      "                                       F          ",
      "                                                  ",
      "              S                           F  F    ",
      "                                                  ",
      "                  S                       F  F    ",
      "         S                                        ",
      "                                                  ",
      "                                                  ",
      "     S                P                           ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "    S                                   S         ",
      "                                                  ",
      "                                                  ",
      "          S                     S                 ",
      "                                                  ",
      "                     S                            ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
    ],

    // 2. fliers approach
    [
      "                                                  ",
      "        F            F            F          F    ",
      "                                                  ",
      "                                                  ",
      "    S                                  S          ",
      "                                                  ",
      "                                                  ",
      "                   S                              ",
      "                                  S               ",
      "                                                  ",
      "     S                                            ",
      "                                                  ",
      "                                                  ",
      "              S                                   ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                           P                      ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
    ],

    // 1. a gentle introduction to squares
    [
      "                                                  ",
      "                               S                  ",
      "                                                  ",
      "         S                                        ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                      S                           ",
      "                                          S       ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                       P                          ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
    ],
  ]
)

