(
  large_levels: [
      // large level 8
    [
      "  B   B   B   B   B   B   B   B   B   B   B   B   B   B   B   B   B ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "   F                                                             F  ",
      "   F                                                             F  ",
      "                                                                    ",
      "                                P P                                 ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
    ],
      // large level 7
    [
      "  B   B   B   B   B   B   B   B   B   B   B   B   B   B   B   B   B ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "   F                                                             F  ",
      "   F                                                             F  ",
      "                                                                    ",
      "                                P P                                 ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
    ],
      // large level 6
    [
      "                                                                    ",
      "  P         S                                           S         P ",
      "           S                                             S          ",
      "          S                                               S         ",
      "         S                                                 S        ",
      "                             B             B                        ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "         S                                                 S        ",
      "          S                                               S         ",
      "           S                                             S          ",
      "  P         S                                           S         P ",
      "                                                                    ",
    ],
      // large level 5
    [
      "  B   B   B   B   B   B   B   B   B   B   B   B   B   B   B   B   B ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "   F                                                             F  ",
      "   F                                                             F  ",
      "                                                                    ",
      "                                P P                                 ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
    ],
      // large level 4
    [
      "   F  F  F  F  F  F  F  F  F  F  F  F  F  F  F  F  F  F  F  F  F  F ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "   F                                                             F  ",
      "   F                                                             F  ",
      "                                                                    ",
      "                                P                                   ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      " F           F         F                     F        F           F ",
      "                                                                    ",
    ],

    // large level 3
    [
      "                                                                    ",
      "                             P P                                    ",
      "                            P P P                                   ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                         B        B                                 ",
      "                                                                    ",
      "                              B         B                           ",
      "                                                                    ",
      "                                                                    ",
    ],

    // large level 2
    [
      "   F  F  F                                                 F  F  F  ",
      "                                                                    ",
      "             B                                        B             ",
      "                                                                    ",
      "                                     B                              ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                                                                    ",
      "                         P                                          ",
      "                                                                    ",
      "   S                                                            S   ",
      "     S                                                        S     ",
      "       S                                                    S       ",
    ],
    // large level 1
    [
      "        F            F            F               ",
      "                                                  ",
      "                                                  ",
      "    S    B                             S          ",
      "                                                  ",
      "                                                  ",
      "                   S                              ",
      "                                  S               ",
      "                                                  ",
      "     S                                            ",
      "                                                  ",
      "                                                  ",
      "              S                                   ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                           P                      ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
    ],
  ],
  // this is for the LevelConfig struct
  small_levels: [
    // level 1
    [
      "                                                  ",
      "        F            F            F               ",
      "                                                  ",
      "                                                  ",
      "    S                                  S          ",
      "                                                  ",
      "                                                  ",
      "                   S                              ",
      "                                  S               ",
      "                                                  ",
      "     S                                            ",
      "                                                  ",
      "                                                  ",
      "              S                                   ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                           P                      ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
    ],

    // level 0
    [
      "                                                  ",
      "                               S                  ",
      "                                                  ",
      "         S                                        ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                      S                           ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                     P                            ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
    ],
  ]
)

