(
  // this is for the LevelConfig struct
  rows: [
    // level 2
    // [
    //   "                                                  ",
    //   "                                                  ",
    //   "                                                  ",
    //   "                     F   S                        ",
    //   "                                                  ",
    //   "                                                  ",
    //   "                                                  ",
    //   "                                 S                ",
    //   "                S                                 ",
    //   "                                                  ",
    //   "          F             S                         ",
    //   "                                                  ",
    //   "                                                  ",
    //   "  F                                               ",
    //   "                                                  ",
    //   "                                                  ",
    //   "                                                  ",
    //   "                                                  ",
    //   "                           P                      ",
    //   "                                                  ",
    //   "               S                           S      ",
    //   "                                                  ",
    //   "                                                  ",
    //   "                                                  ",
    //   "                                                  ",
    // ],

    // // level 1
    [
      "                                                  ",
      "        F            F            F               ",
      "                                                  ",
      "                                                  ",
      "    S                                  S          ",
      "                                                  ",
      "                                                  ",
      "                   S                              ",
      "                                  S               ",
      "                                                  ",
      "     S                                            ",
      "                                                  ",
      "                                                  ",
      "              S                                   ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                           P                      ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
    ],

    // level 0
    [
      "                                                  ",
      "                               S                  ",
      "                                                  ",
      "         S                                        ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                      S                           ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                   P                              ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
      "                                                  ",
    ],
  ]
)

