#![enable(implicit_some)]

Prefab (
    entities: [
        PrefabEntity(
            data: EnemyPrefab(
                // BEGIN enemy: Enemy
                enemy: Enemy(
                    speed: 100,
                    velocity_x: 0,
                    velocity_y: 0,
                    already_rotated: false,
                    freeze_direction: false,
                    locked_direction: None,
                    health: 60,
                    movement: Gravitate,
                ),
                // END enemy: Enemy

                // BEGIN collider: Collider
                collider: Collider(
                    // sprite width or height * 0.5 * scale
                    // TODO: scale hardcoded to 5.0 in state.rs because
                    // it needs to be created separately from the enemy
                    // entity and components defined here
                    half_width: 32.0,
                    half_height: 32.0,
                ),
                // END collider: Collider
            ),
        ),
    ]
)
